.App {
  text-align: center;
}

html, body, #body{
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
#mainNav{
  position: fixed;
  width: 100%;
  background-color: #191C31;
  z-index: 99;
  padding-top: 5px;
  padding-bottom: 5px;
}
.masthead{
  position: relative;
  text-align: center;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#cog{
  transform-origin: 383px 564px;
  -webkit-animation: rotation 30s infinite linear;
}
#cog3{
  transform-origin: 867px 236px;
  -webkit-animation: neg-rotation 20s infinite linear;
}
#cog2{
  transform-origin: 1236px  457px;
  -webkit-animation: rotation 20s infinite linear;
}
#cog4{
  transform-origin: 1657px  341px;
  -webkit-animation: neg-rotation 20s infinite linear;
}
path{
  /*transform-origin: 50% 50%;*/
  fill: #5B131B;
}
svg{
  max-height: 400px;
}
.masthead{
  min-height: 100vh;
}
.masthead::before{
  /*height: 900px;*/
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .30; 
  z-index: -1;
  background: url('./img/header_01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#testimony{
  height: 400px;
  background: linear-gradient(to right, rgba(116,182,198,1) 25%, rgba(255,0,132,0) 100%), url('./img/header.jpg') top right fixed;
}
#quote {
  position: relative;
  height: 400px;
}
#quote blockquote{
  margin: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#quote blockquote:before{
  content: '\201C';
  color: black;
  font-size: 7.5em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: -.4em;
  left: -.2em;    
  text-shadow: none;
  z-index: -300;
}

.header-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header-h1{
  color: #5B151D;
}

.aboutHero{
  height: 100vh;
  padding-top: 40px;
  text-align: center;
}

.aboutGame{
  padding-top: 40px;
  height: 100vh;
}

.ourSections{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#aboutSection .container .row{
  margin-bottom: 40px;
}

#aboutTeam{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(163, 163, 163, 0.25);
}
#aboutSection{
  /*background: url('./img/footer_lodyas.png') no-repeat center center fixed; */
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
  padding-top: 40px;
  min-height: 100vh;
  
}
#process{
  height: 400px;
  background-color: #a0c4ff;
  background-image: url("https://www.transparenttextures.com/patterns/graphy-dark.png");
  /* download for img for prod*/
  min-height: 100vh;
}
img{
  padding: 10px;
}
p{
  font-size: 16px;
}

.nav-menu{
  transform: translateX(100%);
  background: url('./img/r_logo.png') no-repeat center, #5B151D;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  padding: 80px;
  transition: all 0.5s ease;
  overflow-y: scroll;
}

.cross-container {
  color: white;
  padding: 5px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: right;
  margin-top: 0;
  position: absolute;
  top: 75px;
  right: 75px;
}

.real-nav{
  top: 100px;
  right: 75px;
}

#x{
  cursor: pointer;
}

.rr_nav{
  position: absolute;
  top: 75px;
  left: 75px;
}

ul {
  list-style: none;
  text-align: right;
  float: right;
}
ul li{
  margin: 40px;
  margin-right: 0px;
  text-decoration: none;
}
.nav-item{
  width: 25vw;
  font-size: 60px;
}
.nav-item a:hover{
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.ham-container {
    display: inline-block;
    cursor: pointer;
    float: right;
}

.show-menu{
  transform: translateX(0)!important;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.learn-more{
  background-color: #5B151D;
  padding: 15px;
  color: white!important;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}
.learn-more:hover{
  background-color: #3F0F14;
  color: white!important;
  cursor: pointer;
}

.social{
  margin-left: 10px;
}
.social img{
  max-height: 75px;
}

@media (max-width: 767px) {
  ul li{
    margin: 40px;
    margin-right: 0px;
    text-decoration: none;
  }
  .nav-menu{
    padding: 10px;
  }
  .nav-item{
    width: 50vw;
    font-size: 40px;
  }
  .cross-container{
    top: 40px;
    right: 40px;
  }
  .rr_nav{
    top: 40px;
    left: 40px;
  }
  .real-nav{
    top: 90px;
    right: 40px;
  }
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
@-webkit-keyframes neg-rotation {
		from {
				-webkit-transform: rotate(359deg);
		}
		to {
				-webkit-transform: rotate(0deg);
		}
}

.processHero{
  padding-top: 50px;
  min-height: 100vh;
}
